<br />
<h2>Welcome <%= current_user.first_name %> <%= current_user.last_name %></h2>
<hr />
<%= link_to "Add Restaurant", new_restaurant_path %>
<h4>Your Restaurant Specials</h4>
<ul>
  <% @restaurants.each do |restaurant| %>
    <li>
      <%= link_to restaurant.name, restaurant  %> - $<%= restaurant.specials %>
    </li>
  <% end %>
</ul>