<br />
<br />
<h4 ><%= @restaurant.name %><br /> <br /> <%=@restaurant.specials%></h4>

<br />

<%= link_to "Back", :back %>

 <%= link_to 'Edit Restaurant', edit_restaurant_path(@restaurant) %>

  <%= link_to 'Delete Restaurant', @restaurant, method: :delete %><
